/* Universal */

html, body {

    margin: 0;
    padding: 0;

}

html {

    font-size: 20px;

}

.redcolor {

    color: #C8515F;

}

/* Back btn */

.back {

    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;

}

.back a {

    color: #C8515F;
    text-decoration: none;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 300;
    transition: all 0.3s ease;

}

.back a:hover {

    transition: all 0.3s ease;
    color: rgba(200,81,95,.75);

}

/* Menu */

.menu {

    text-align: center;
    background-image: url("../img/menuback.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;

}

.menu a {

    text-decoration: none;
    background-color: #fff;
    color: #C8515F;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;
    height: 75px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 50px;
    transition: all 0.3s ease;

}

.menu a:hover {

    transition: all 0.3s ease;
    background-color: rgba(255,255,255,.75);

}

.menublock h1 {
 
    padding-top: 50px;
    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;


}

.menublock p {

    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 300;

}

#lastblock {

    padding-bottom: 50px;
    margin-bottom: 0px;

}

/* bottom */

.bottom {

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom a {

    color: #C8515F;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;

}

.bottom a:hover {

    transition: all 0.3s ease;
    color: rgba(200,81,95,.75);

}

/* Gallery */

.gallery {

    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    width: 70%;

}

.gallery h1 {

    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;

}

.gallery-photo {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.foodblock {

    height: 200px;
    width: 350px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    margin: 25px;
    transition: all 0.3s ease;
    
}

#food1 {

    background-image: url("../img/dispfood1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food2 {

    background-image: url("../img/dispfood2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food3 {

    background-image: url("../img/dispfood3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food4 {

    background-image: url("../img/dispfood4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food5 {

    background-image: url("../img/dispfood5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food6 {

    background-image: url("../img/dispfood6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food7 {

    background-image: url("../img/dispfood7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food8 {

    background-image: url("../img/dispfood8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food9 {

    background-image: url("../img/dispfood9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food10 {

    background-image: url("../img/dispfood10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food11 {

    background-image: url("../img/dispfood11.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food12 {

    background-image: url("../img/dispfood12.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food13 {

    background-image: url("../img/dispfood13.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food14 {

    background-image: url("../img/dispfood14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food15 {

    background-image: url("../img/dispfood15.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food16 {

    background-image: url("../img/dispfood16.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food17 {

    background-image: url("../img/dispfood17.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food18 {

    background-image: url("../img/dispfood18.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food19 {

    background-image: url("../img/dispfood19.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food20 {

    background-image: url("../img/dispfood20.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food21 {

    background-image: url("../img/dispfood21.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food22 {

    background-image: url("../img/dispfood22.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food23 {

    background-image: url("../img/dispfood23.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food24 {

    background-image: url("../img/dispfood24.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food25 {

    background-image: url("../img/dispfood25.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food26 {

    background-image: url("../img/dispfood26.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food27 {

    background-image: url("../img/dispfood27.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food28 {

    background-image: url("../img/dispfood28.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
