/* Universal */

html, body {

    margin: 0;
    padding: 0;

}

html {

    font-size: 20px;

}

.redcolor {

    color: #C8515F;

}

/* Loader */

.loader {

    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;

}

.loader h3 {

    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #C8515F;
    position: absolute;
    bottom: 30;

}

.loader .loadpic {

    height: 25px;
    width: 25px;
    background-color: #C8515F;
    border-radius: 50%;

}

/* NavBar BTN OPEN */

.navbarbtn {

    position: fixed;
    top: 25;
    left: 20;
    z-index: 2;
    cursor: pointer;

}

.btn-bar {

    height: 2px;
    margin: 6px;
    width: 32px;
    border-radius: 1px;
    background-color: #fff;
    transition: all 0.3s ease;

}

/* NavBar BTN CLOSE */

.btn-bar-close {

    height: 2px;
    margin: 6px;
    width: 32px;
    border-radius: 1px;
    background-color: #212121;
    transition: all 0.3s ease;

}

.closebtn {

    position: absolute;
    top: 25;
    left: 20;
    cursor: pointer;

}

/* NavBar */

.navbar {

    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1005;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar h1 {

    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 50px;
    color: #212121;

}

.navbar ul {

    list-style-type: none;

}

.navbar a {

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 35px;
    color: #212121;
    text-decoration: none;
    position: relative;
    display: block;

}

.navbar a:before {

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}

.navbar a:hover:before {

    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

}

/* Top Page */

.topPage {

    height: 800px;
    width: 100%;
    background-image: url("../img/bk1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.topPage h1 {

    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 700;
    font-size: 75px;
    padding-left: 100px;

}

.topPage p {

    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 100px;

}

.topPage .left-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    float: left;
    width: 50%;

}

.topPage .right-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    float: right;
    width: 50%;

}

.topPage .right-col a {

    text-decoration: none;
    background-color: #C8515F;
    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;
    height: 75px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 50px;
    transition: all 0.3s ease;

}

.topPage .right-col a:hover {

    transition: all 0.3s ease;
    color: #C8515F;
    background-color: #fff;

}

/* Food SlideShow */

.featuredh1 {

    text-align: center;
    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 700;
    font-size: 75px;

}

.fSlideShow {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

#food1 {

    background-image: url("../img/dispfood1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food1:hover {

    transition: all 0.3s ease;
    background-position: top;

}

#food2:hover {

    transition: all 0.3s ease;
    background-position: top;

}

#food3:hover {

    transition: all 0.3s ease;
    background-position: top;

}

#food2 {
 
    background-image: url("../img/dispfood2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#food3 {

    background-image: url("../img/dispfood3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.foodblock {

    height: 200px;
    width: 350px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    margin: 50px;
    background-image: url("../img/bk1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;

}

.foodblock h3 {

    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    border-radius: 2px;

}

/* Directions */

.directions .left-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    float: left;
    width: 50%;

}

.directions .right-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    float: right;
    width: 50%;

}

.directions h1 {

    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 700;
    font-size: 75px;
    padding-left: 100px;

}

.directions a {

    text-decoration: none;
    color: rgba(200,81,95,1);
    font-family: "Montserrat", Avenir, sans-serif;
    font-size: 25px;
    margin: 25px;
    transition: all 0.3s ease;

}

.directions a:hover {

    transition: all 0.3s ease;
    color: rgba(200,81,95,.75); 

}

.review {

    height: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

}

.review img {

    border-radius: 50%;

}

.review h3 {

    color: #212121;
    text-align: center;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;
    padding-left: 20%;
    padding-right: 20%;

}

.review p {

    color: rgba(0,0,0,.75);
    text-align: center;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 300;

}

/* Grubhub and other links */

.grub {

    height: 400px;
    width: 100%;
    background-image: url("../img/bk2.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.grub .left-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    float: left;
    width: 50%;

}

.grub .right-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    float: left;
    width: 50%;

}

.grub h1 {

    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 700;
    font-size: 30px;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

.grub a {

    text-decoration: none;
    background-color: #C8515F;
    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;
    height: 75px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 50px;
    transition: all 0.3s ease;

}

.grub a:hover {

    transition: all 0.3s ease;
    color: #C8515F;
    background-color: #fff;

}

/* Question */

.question {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.question h1 {

    padding-top: 75px;
    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}

.question p {

    color: #212121;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;

}

.question a {

    text-decoration: none;
    background-color: #C8515F;
    color: #fff;
    font-family: "Montserrat", Avenir, sans-serif;
    font-weight: 500;
    height: 75px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin-bottom: 25px;

}

.question a:hover {

    transition: all 0.3s ease;
    background-color: rgba(200,81,95,.75);

}

/* Bottom */

.bottom {

    height: 200px;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;

}

.bottom p {

    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 15px;

}

.bottom a {

    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 15px;

}

.icon-row {

    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom img {

    height: 40px;
    width: 40px;
    transition: all 0.2s ease;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;

}

.bottom img:hover {

    background-color: #C8515F;
    border-radius: 50%;
    transition: all 0.3s ease;

}

/* Media Queries */

@media screen and (max-width: 768px) {
  
    .topPage {

        height: 700px;
        background-position: left;

    }

    .topPage .left-col {

        flex-direction: column;
        height: 350px;
        float: none;
        width: 100%;
        align-items: center;

    }

    .topPage .right-col {

        flex-direction: row;
        height: 350px;
        float: none;
        width: 100%;

    }

    .topPage h1 {

        font-size: 50px;
        padding-left: 0px;
        text-align: center;
        padding-top: 75px; 

    }

    .topPage p {

        padding-left: 0px;
        text-align: center;

    }

    .topPage .right-col a {

        font-weight: 300;
        font-size: 18px;
        height: 65px;

    }

    .featuredh1 {

        font-size: 55px;

    }

    .foodblock {

        height: 175px;
        width: 275px;

    }

    .foodblock h3 {

        font-size: 20px;

    }

    .directions {

        height: 600px;

    }

    .directions .left-col {

        height: 300px;
        width: 100%;
        float: none;
        justify-content: center;
        align-items: center;

    }

    .directions h1 {

        font-size: 50px;
        padding-left: 0px;
        text-align: center;

    }

    .directions .right-col {

        height: 300px;
        width: 100%;
        float: none;

    }

    .review h3 {

        font-size: 20px;

    }

    .grub h1 {

        font-size: 20px;

    }

    .grub a {

        font-weight: 300;
        font-size: 18px;
        height: 65px;
        width: 150px;

    }

    .question h1 {

        font-size: 30px;

    }

}
